<div ng-class="{innerComment: innerComment}" class="comment-list" ng-repeat="comment in comments">
	<div class="comment-user">
		{{::comment.user.name}}
	</div>
	<div class="comment-date">
		{{::comment.date | date: 'short'}}
	</div>
	<div class="comment-text">
		{{::comment.text}}
	</div>
	
	<a href="#" ng-click="makeComment = !makeComment">comment</a>
	<form ng-show="makeComment">
		<textarea id="inner-comment-input{{comment._id}}" width="100%" ng-model="commentReply.text"></textarea>
		<button ng-click="postComment(commentReply, comment); makeComment = false;">Send</button>
	</form>
	<comments inner-comment="true" parent="comment._id"></comments>
</div>